.icon-select {
  background: url("./../assets/images/select-pointer.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-pencil {
  background: url("./../assets/images/pencil.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-line {
  background: url("./../assets/images/line.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-rect {
  background: url("./../assets/images/rect.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-circle {
  background: url("./../assets/images/circle.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-ellipse {
  background: url("./../assets/images/ellipse.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-path {
  background: url("./../assets/images/path.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-text {
  background: url("./../assets/images/text.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-image {
  background: url("./../assets/images/image.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}


.icon-switch {
  background: url("./../assets/images/switch.svg") no-repeat center center;
}
.icon-value {
  background: url("./../assets/images/value.svg") no-repeat center center;
}
.icon-editvalue {
  background: url("./../assets/images/editvalue.svg") no-repeat center center;
}
.icon-selectvalue {
  background: url("./../assets/images/selectvalue.svg") no-repeat center center;
}
.icon-progress-v {
  background: url("./../assets/images/progress-v.svg") no-repeat center center;
}
.icon-semaphore {
  background: url("./../assets/images/semaphore.svg") no-repeat center center;
}
.icon-button {
  background: url("./../assets/images/button.svg") no-repeat center center;
}
.icon-chart {
  background: url("./../assets/images/chart.svg") no-repeat center center;
}
.icon-bag {
  background: url("./../assets/images/bag.svg") no-repeat center center;
}
.icon-pipe {
  background: url("./../assets/images/pipe.svg") no-repeat center center;
}
.icon-slider {
  background: url("./../assets/images/slider.svg") no-repeat center center;
}
.icon-graphbar {
  background: url("./../assets/images/graphbar.svg") no-repeat center center;
}
.icon-graphpie {
  background: url("./../assets/images/graphpie.svg") no-repeat center center;
}
.icon-table {
  background: url("./../assets/images/table.svg") no-repeat center center;
}
.icon-iframe {
  background: url("./../assets/images/iframe.svg") no-repeat center center;
}