.icon-select {
  background: url("/assets/images/select-pointer.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-pencil {
  background: url("/assets/images/pencil.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-line {
  background: url("/assets/images/line.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-rect {
  background: url("/assets/images/rect.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-circle {
  background: url("./../assets/images/circle.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-ellipse {
  background: url("./../assets/images/ellipse.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-path {
  background: url("./../assets/images/path.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-text {
  background: url("./../assets/images/text.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}

.icon-image {
  background: url("./../assets/images/image.svg") no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 30px;
}
